bin
.idea
.vscode
.vs
._.*
~*
_*
*.o.d
*.o
*.a
/MalariaSimulation/build/Debug/
/MalariaSimulation/nbproject/private/
/MalariaCore/nbproject/private/
/MalariaSimulation/dist/Release/
/MalariaSimulation/build/Release/
/MalariaSimulation/dist/*


/MalariaCore/dist/Release/
/MalariaCore/build/Release/
/MalariaCore/dist/Debug/
/MalariaCore/build/Debug/

/GoogleMock/nbproject/private/

/PkPdSimulation/dist/*
/PkPdSimulation/build/*
/PkPdSimulation/nbproject/private/

/EC50_EfficacyTableGenerator/build/Debug/
/EC50_EfficacyTableGenerator/dist/Debug/
/EC50_EfficacyTableGenerator/build/Release/
/EC50_EfficacyTableGenerator/dist/Release/
/EC50_EfficacyTableGenerator/dist/*

EC50_EfficacyTableGenerator/out\.txt
/MalariaCore/build/
/MalariaSimulation/build/
/MalariaCore/dist/
\.vscode/

\.Rhistory
