bin
.idea

._.*
~*
_*
*.o.d
*.o
*.a
/MalariaSimulation/build/Debug/
/MalariaSimulation/nbproject/private/
/MalariaCore/nbproject/private/
/MalariaSimulation/dist/Release/
/MalariaSimulation/build/Release/
/MalariaSimulation/dist/*


/MalariaCore/dist/Release/
/MalariaCore/build/Release/
/MalariaCore/dist/Debug/
/MalariaCore/build/Debug/

/GoogleMock/nbproject/private/

/PkPdSimulation/dist/*
/PkPdSimulation/build/*
/PkPdSimulation/nbproject/private/
/MalariaCore/build/
/MalariaCore/dist/
/MalariaSimulation/build/